[alias]
    unstash = stash apply

[commit]
    gpgsign = true

[core]
	pager = delta
	excludesfile = ~/.config/git/.gitignore_global
	# hooksPath = ~/.config/git/hooks

[credential]
    helper = osxkeychain

[delta]
	navigate = true  # use n and N to move between diff sections
	side-by-side = true
    
[diff]
	colorMoved = default

[format]
    signOff = true

[gpg]
    program = {{ expandenv "$HOMEBREW_PREFIX/bin/gpg" }}

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[merge]
    conflictstyle = diff3

[user]
    name = {{ .fullname }}
    email = {{ .gitemail }}
    signingkey = {{ .gpgkey }}

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true