#!/bin/bash
{{ if (eq .chezmoi.os "darwin") -}}

osascript -e 'tell application "System Preferences" to quit'

# ---------------------------------------------------------------------------------------------------------------------
# Global settings
# ---------------------------------------------------------------------------------------------------------------------
# Set default screenshot location
defaults write com.apple.screencapture "location" -string "~/Documents/Screenshots" && killall SystemUIServer
# Do not autogather large files when submitting a feedback report
defaults write com.apple.appleseed.FeedbackAssistant "Autogather" -bool "false" 
# Disable automatic capitalization
defaults write -g NSAutomaticCapitalizationEnabled -bool false
# Enable smart dashes
defaults write -g NSAutomaticDashSubstitutionEnabled -bool true
# Prevent Photos from opening automatically when devices are plugged in
defaults -currentHost write com.apple.ImageCapture disableHotPlug -bool true && killall Photos
# Save/Print modals are auto-expanded by default
defaults write NSGlobalDomain PMPrintingExpandedStateForPrint -bool true
defaults write NSGlobalDomain NSNavPanelExpandedStateForSaveMode -bool true
# Trackpad: enable tap to click for this user and for the login screen
defaults write com.apple.driver.AppleBluetoothMultitouch.trackpad Clicking -bool true
defaults -currentHost write NSGlobalDomain com.apple.mouse.tapBehavior -int 1
defaults write NSGlobalDomain com.apple.mouse.tapBehavior -int 1

# ---------------------------------------------------------------------------------------------------------------------
# Security settings
# ---------------------------------------------------------------------------------------------------------------------
# Enable TouchID for sudo
! grep -q pam_tid.so /etc/pam.d/sudo && sudo gsed -i '2iauth        sufficient     pam_tid.so' /etc/pam.d/sudo
# Disable Gatekeeper
sudo spctl --master-disable
# Open an application from the web without being asked
# https://macos-defaults.com/misc/lsquarantine.html#disable-application-quarantine-message :(
# defaults write com.apple.LaunchServices LSQuarantine -bool false

# ---------------------------------------------------------------------------------------------------------------------
# Dock settings
# ---------------------------------------------------------------------------------------------------------------------
# Set dock position
defaults write com.apple.dock orientation -string "left"
# Set the icon size of Dock items in pixels
defaults write com.apple.dock "tilesize" -int 43
# Minimize windows into their application’s icon
defaults write com.apple.dock minimize-to-application -bool true
# Enable launch animation
defaults write com.apple.dock launchanim -bool true
# Show indicator lights for open applications in the Dock
defaults write com.apple.dock show-process-indicators -bool true
# Don’t show recent applications in Dock
defaults write com.apple.dock show-recents -bool false
# Clear Dock of all default icons and set my own
defaults write com.apple.dock persistent-others -array
defaults write com.apple.dock persistent-apps -array\
 '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/Firefox.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'\
 '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/System/Applications/Mail.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'\
 '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/VSCodium.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'\
 '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/System/Applications/Utilities/Terminal.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'\
 '<dict><key>tile-data</key><dict><key>file-data</key><dict><key>_CFURLString</key><string>/Applications/XMind.app</string><key>_CFURLStringType</key><integer>0</integer></dict></dict></dict>'

killall Dock

# ---------------------------------------------------------------------------------------------------------------------
# Finder settings
# ---------------------------------------------------------------------------------------------------------------------
# Show hidden files in the Finder
defaults write com.apple.Finder "AppleShowAllFiles" -bool "true"
# Allowing text selection in Quick Look/Preview in Finder by default
defaults write com.apple.finder QLEnableTextSelection -bool true
# When performing a search, search the current folder by default
defaults write com.apple.finder FXDefaultSearchScope -string "SCcf"
# Use list view in all Finder windows by default
defaults write com.apple.finder FXPreferredViewStyle -string "Nlsv"
defaults write com.apple.finder SearchRecentsSavedViewStyle -string "Nlsv"
# Disable creation of metadata files on external volumes
defaults write com.apple.desktopservices DSDontWriteNetworkStores -bool true
defaults write com.apple.desktopservices DSDontWriteUSBStores -bool true
# Empty Trash securely by default
defaults write com.apple.finder EmptyTrashSecurely -bool true
# Remove CMD+Space shortcut for Spotlight (So Alfred can use it)
/usr/libexec/PlistBuddy ~/Library/Preferences/com.apple.symbolichotkeys.plist -c "Delete :AppleSymbolicHotKeys:64"
/usr/libexec/PlistBuddy ~/Library/Preferences/com.apple.symbolichotkeys.plist -c "Add :AppleSymbolicHotKeys:64:enabled bool false"

killall Finder

# ---------------------------------------------------------------------------------------------------------------------
# Firewall settings
# ---------------------------------------------------------------------------------------------------------------------
# Enable firewall
sudo defaults write /Library/Preferences/com.apple.alf globalstate -int 1
sudo defaults write /Library/Preferences/com.apple.alf stealthenabled -int 1

#launchctl unload /System/Library/LaunchAgents/com.apple.alf.useragent.plist
#sudo launchctl unload /System/Library/LaunchDaemons/com.apple.alf.agent.plist
#sudo launchctl load /System/Library/LaunchDaemons/com.apple.alf.agent.plist
#launchctl load /System/Library/LaunchAgents/com.apple.alf.useragent.plist

# ---------------------------------------------------------------------------------------------------------------------
# Software Update settings
# ---------------------------------------------------------------------------------------------------------------------
# Automatically check for updates
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticCheckEnabled -bool true
# Download updates automatically in the background
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticDownload -bool true
# Install macos updates automatically
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate AutomaticallyInstallMacOSUpdates -bool true
# Install system data file updates automatically
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate ConfigDataInstall -bool true
# Install critical security updates automatically
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate CriticalUpdateInstall -bool true
# Check for software updates daily, not just once per week
sudo defaults write /Library/Preferences/com.apple.SoftwareUpdate ScheduleFrequency -int 1
# Install app updates automatically
defaults write com.apple.commerce AutoUpdate -bool true

{{ end -}}
