{{- if (eq .chezmoi.os "darwin") -}}
#!/bin/bash

# Close App Store apps in case this script updates them
killall Amphetamine iMovie OneDrive "The Unarchiver" Xcode XMind

brew bundle --no-lock --file=/dev/stdin <<EOF
# Sources
tap "fairwindsops/tap"
tap "fluxcd/tap"
tap "hashicorp/tap"
tap "heroku/brew"
tap "homebrew/autoupdate"
tap "homebrew/bundle"
tap "homebrew/cask"
tap "homebrew/cask-drivers"
tap "homebrew/cask-fonts"
tap "homebrew/cask-versions"
tap "homebrew/core"
tap "instrumenta/instrumenta"
tap "kube-score/tap"
#tap "nektos/tap"
tap "superfly/tap"
tap "tilt-dev/tap"
#tap "vmware-tanzu/buildkit-cli-for-kubectl", "https://github.com/vmware-tanzu/buildkit-cli-for-kubectl"

# CLI Apps
#brew "act"
#brew "autoconf"
#brew "automake"
brew "awscli"
#brew "bazel"
brew "bat"
#brew "buildifier"
brew "checkov"
brew "chezmoi"
#brew "cmake"
brew "coreutils"
brew "cosign"
brew "direnv"
brew "exa"
#brew "ext4fuse"
brew "gh"
brew "git"
brew "git-delta"
brew "gnu-sed"
brew "gnupg"
brew "go"
brew "gopass"
brew "gopass-jsonapi"
brew "graphviz"
brew "helm"
#brew "hey"
#brew "hugo"
#brew "imagemagick"
#brew "istioctl"
brew "jq"
brew "k3d"
#brew "kind"
brew "kube-score"
brew "kubeaudit"
brew "kubeval"
brew "kubernetes-cli"
brew "kustomize"
brew "libpq"
#brew "libsodium"
#brew "linkerd"
brew "mas"
#brew "mitmproxy"
brew "nmap"
#brew "nvm"
#brew "octant"
#brew "openjdk"
brew "pinentry-mac"
#brew "postgresql"
brew "pre-commit"
brew "pv"
brew "python@3.8"
brew "qt@5"
#brew "redis"
brew "s3cmd"
brew "shellcheck"
brew "sops"
brew "starship"
brew "terraform"
brew "terraform-docs"
brew "tflint"
brew "tfsec"
brew "tree"
brew "thefuck"
brew "volta"
brew "watch"
brew "wget"
brew "yarn"
brew "ykman"
brew "yq"
brew "fairwindsops/tap/polaris"
brew "heroku/brew/heroku"
brew "superfly/tap/flyctl"
#brew "tilt-dev/tap/ctlptl"
brew "tilt-dev/tap/tilt"
#brew "vmware-tanzu/buildkit-cli-for-kubectl/kubectl-buildkit"

# GUI Apps
#cask "adoptopenjdk"
#cask "adoptopenjdk8"
cask "alfred"
cask "android-studio"
cask "browserosaurus"
cask "calibre"
cask "cheatsheet"
#cask "choosy"
cask "cryptomator"
cask "dbeaver-community"
cask "darktable"
cask "docker"
cask "ferdi"
cask "finicky"
cask "firefox-developer-edition"
cask "gimp"
cask "gitify"
cask "inkscape"
#cask "java"
cask "jitsi-meet"
#cask "keybase"
cask "krita"
cask "ledger-live"
cask "lens"
cask "logitech-options"
#cask "macdown"
cask "macfuse"
cask "moom" # OSS alternative: "rectangle"
cask "onlyoffice"
cask "postman"
cask "qbittorrent"
cask "qlcolorcode"
cask "qlimagesize"
cask "qlmarkdown"
cask "qlstephen"
cask "qlvideo"
cask "quicklook-json"
cask "quicklookase"
cask "skype"
cask "spotify"
cask "suspicious-package"
cask "timemachineeditor"
cask "tor-browser"
cask "vlc"
cask "vscodium"
cask "zoom"

# Fonts
cask "font-meslo-lg"
cask "font-meslo-lg-nerd-font"
cask "font-recursive"
cask "font-recursive-code"
cask "font-menlo-for-powerline"

# App Store apps
mas "Amphetamine", id: 937984704
mas "iMovie", id: 408981434
mas "OneDrive", id: 823766827
mas "The Unarchiver", id: 425424353
mas "Xcode", id: 497799835
mas "XMind", id: 1327661892
EOF

# VSCodium/VSCode extensions
codium --install-extension aaron-bond.better-comments
codium --install-extension aprilandjan.ascii-tree-generator
codium --install-extension BazelBuild.vscode-bazel
codium --install-extension bungcip.better-toml
codium --install-extension christian-kohler.path-intellisense
codium --install-extension DavidAnson.vscode-markdownlint
codium --install-extension debens.sort-js-object
codium --install-extension ecmel.vscode-html-css
codium --install-extension EditorConfig.EditorConfig
codium --install-extension firefox-devtools.vscode-firefox-debug
codium --install-extension golang.go
codium --install-extension GraphQL.vscode-graphql
codium --install-extension hashicorp.terraform
codium --install-extension hilleer.yaml-plus-json
codium --install-extension miclo.sort-typescript-imports
codium --install-extension mrmlnc.vscode-attrs-sorter
codium --install-extension ms-azuretools.vscode-docker
codium --install-extension ms-kubernetes-tools.vscode-kubernetes-tools
codium --install-extension nrwl.angular-console
codium --install-extension PascalReitermann93.vscode-yaml-sort
codium --install-extension redhat.vscode-commons
codium --install-extension redhat.vscode-yaml
codium --install-extension richie5um2.vscode-sort-json
codium --install-extension robertoachar.vscode-essentials-snippets
codium --install-extension SimonSiefke.svg-preview
codium --install-extension streetsidesoftware.code-spell-checker
codium --install-extension Tchoupinax.tilt
codium --install-extension timonwong.shellcheck
codium --install-extension Tyriar.sort-lines
codium --install-extension vincaslt.highlight-matching-tag
codium --install-extension vscode-icons-team.vscode-icons
codium --install-extension wix.vscode-import-cost

{{ end -}}
