<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string></string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>2004B98C-D92D-4B35-A737-5956EDCA3706</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>A94B5903-9C72-4E44-8B2E-C7CE6C1D471E</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>5F1133F0-EF3A-4D77-81B9-43F5ABC8087F</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2004B98C-D92D-4B35-A737-5956EDCA3706</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Romain</string>
	<key>description</key>
	<string>Switch to development desktop</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Development</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>paths</key>
				<array>
					<string>/Applications/Firefox (Development).app</string>
					<string>/Applications/Visual Studio Code.app</string>
				</array>
				<key>toggle</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.launchfiles</string>
			<key>uid</key>
			<string>A94B5903-9C72-4E44-8B2E-C7CE6C1D471E</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>keyword</key>
				<string>development</string>
				<key>subtext</key>
				<string>Switch to development desktop</string>
				<key>text</key>
				<string>Development desktop</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>5F1133F0-EF3A-4D77-81B9-43F5ABC8087F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
    tell application "System Events" to key code 19 using control down
end alfred_script</string>
				<key>cachescript</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>2004B98C-D92D-4B35-A737-5956EDCA3706</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>zzee</string>
	<key>uidata</key>
	<dict>
		<key>2004B98C-D92D-4B35-A737-5956EDCA3706</key>
		<dict>
			<key>xpos</key>
			<integer>350</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>5F1133F0-EF3A-4D77-81B9-43F5ABC8087F</key>
		<dict>
			<key>xpos</key>
			<integer>165</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
		<key>A94B5903-9C72-4E44-8B2E-C7CE6C1D471E</key>
		<dict>
			<key>xpos</key>
			<integer>525</integer>
			<key>ypos</key>
			<integer>100</integer>
		</dict>
	</dict>
	<key>version</key>
	<string></string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
