{
  /**********/
  /* ESLint */
  /**********/
  "eslint.alwaysShowStatus": true,
  "eslint.packageManager": "yarn",
  "eslint.validate": [
    "html",
    "javascript",
    "javascriptreact",
    "json",
    "json5",
    "jsonc",
    "toml",
    "typescript",
    "vue",
    "yaml"
  ],
  "eslint.workingDirectories": [
    {
      "mode": "auto"
    }
  ],
  /************/
  /* Markdown */
  /************/
  "markdown.preview.fontFamily": "Calibri, Roboto, BlinkMacSystemFont, 'Segoe WPC', 'Segoe UI', 'Ubuntu', 'Droid Sans', sans-serif",
  /*************/
  /* Terraform */
  /*************/
  "terraform.languageServer": {
    "external": true,
    "pathToBinary": "",
    "args": ["serve"],
    "maxNumberOfProblems": 100,
    "trace.server": "off"
  },
  /*******/
  /* Vue */
  /*******/
  "attrsSorter.order": [
    "is",
    "v-for",
    "v-if",
    "v-else-if",
    "v-else",
    "v-show",
    "v-cloak",
    "v-once",
    "v-pre",
    "id",
    "ref",
    "key",
    "slot",
    "v-model",
    "v-model.+",
    "v-bind",
    "v-bind.+",
    ":.+",
    "v-text",
    "v-text.+",
    "v-html",
    "v-html.+",
    "class",
    "v-on.+",
    "@.+",
    "name",
    "data-.+",
    "ng-.+",
    "src",
    "for",
    "type",
    "href",
    "values",
    "title",
    "alt",
    "role",
    "aria-.+",
    "$unknown$"
  ],
  /*****************/
  /* Spell-checker */
  /*****************/
  "cSpell.userWords": [
    "astack",
    "automerge",
    "autosquash",
    "bara",
    "Barissat",
    "builtins",
    "Copybara",
    "finalizer",
    "Finalizers",
    "iife",
    "kanban",
    "Keybase",
    "Kubernetes",
    "Octokit",
    "Oliv'r",
    "olivr",
    "Polystartup",
    "repos",
    "Romain",
    "symlink",
    "vitepress"
  ],
  "cSpell.ignorePaths": [
    "**/node_modules",
    "**/.git",
    "**/vendor",
    "**/.terraform",
    "**/dist"
  ],
  /*******************/
  /* Code formatting */
  /*******************/
  "editor.formatOnSave": true,
  "editor.formatOnType": true,
  "editor.formatOnPaste": true,
  "editor.codeActionsOnSave": {
    "source.fixAll.eslint": true,
    "source.organizeImports": true
  },
  "editor.defaultFormatter": "esbenp.prettier-vscode",
  "[helm]": {
    "editor.formatOnSave": false
  },
  "[terraform]": {
    "editor.formatOnSave": true,
    "editor.defaultFormatter": "hashicorp.terraform"
  },
  "typescript.extension.sortImports.sortOnSave": true,
  "typescript.extension.sortImports.quoteStyle": "double",
  "javascript.preferences.importModuleSpecifierEnding": "js",
  "typescript.preferences.importModuleSpecifierEnding": "js",
  "sqltools.format": {
    "linesBetweenQueries": 2,
    "reservedWordCase": "upper"
  },
  "sqltools.results": { "location": "next" },
  "rewrap.autoWrap.enabled": true,
  "rewrap.onSave": true, //https://github.com/stkb/Rewrap/issues/165
  /************/
  /* Terminal */
  /************/
  "terminal.integrated.fontFamily": "MesloLGL Nerd Font",
  "terminal.integrated.shell.osx": "/bin/zsh",
  "terminal.integrated.env.osx": {
    "STARSHIP_CONFIG": "${env:HOME}/.config/starship.vscode.toml",
    "FIG_NEW_SESSION": "1"
  },
  /**********/
  /* Editor */
  /**********/
  "editor.fontFamily": "'Rec Mono Duotone', Menlo, Monaco, 'Courier New', monospace",
  "editor.fontLigatures": true,
  "editor.fontLigatures": "'ss01','ss03', 'ss06'",
  "editor.fontSize": 14,
  "editor.lineHeight": 22,
  "editor.bracketPairColorization.enabled": true,
  "editor.guides.bracketPairs": "active",
  "editor.suggestSelection": "first",
  "editor.tabSize": 2,
  "vsintellicode.modify.editor.suggestSelection": "automaticallyOverrodeDefaultValue",
  "workbench.iconTheme": "file-icons",
  "cSpell.enableFiletypes": ["!plaintext"],
  "terminal.integrated.confirmOnExit": true,
  "files.associations": {
    "*.tfvars": "terraform",
    ".tflint.hcl": "terraform",
    "*.tf.tpl": "terraform",
    ".env": "shellscript",
    "*.yaml.tpl": "helm",
    "*.yml.tpl": "helm",
    "*.hcl": "terraform",
    ".yamllint": "yaml"
  },
  "redhat.telemetry.enabled": false,
  "terraform-ls.terraformExecPath": "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/terraform",
  "vs-kubernetes": {
    "vs-kubernetes.kubectl-path": "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/kubectl",
    "vs-kubernetes.helm-path": "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/helm",
    "vs-kubernetes.knownKubeconfigs": [
      "/Users/romain/Downloads/caesar-kubeconfig.yaml"
    ],
    "vs-kubernetes.kubeconfig": "/Users/romain/Downloads/caesar-kubeconfig.yaml"
  },
  "shellcheck.customArgs": ["-x"],
  "editor.accessibilitySupport": "off",
  "go.toolsManagement.autoUpdate": true,
  "workbench.startupEditor": "none",
  "workbench.colorCustomizations": {},
  "workbench.editor.openSideBySideDirection": "down",
  "editor.inlineSuggest.enabled": true,
  "github.copilot.enable": {
    "*": true,
    "yaml": true,
    "plaintext": false,
    "markdown": true
  },
  "editor.renderWhitespace": "all",
  "zenMode.fullScreen": false,
  "window.autoDetectColorScheme": true,
  "workbench.preferredLightColorTheme": "Atom One Light",
  "workbench.preferredDarkColorTheme": "One Dark Pro",
  "workbench.colorTheme": "One Dark Pro",
  "vale.valeCLI.path": "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/vale",
  "shellcheck.executablePath": "{{ if eq .chezmoi.arch "arm64" }}/opt/homebrew{{ else }}/usr/local{{ end }}/bin/shellcheck",
  "linter.linters": {
    "eslint": {
      "enabled": false
    },
    "markdownlint": {
      "enabled": false
    },
    "shellcheck": {
      "enabled": false
    },
    "stylelint": {
      "enabled": false
    },
    "vale": {
      "enabled": false
    }
  },
  "sourcegraph.url": "https://sourcegraph.com"
}
